<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn more</title>
    <meta charset="UTF-8">
    <title>NB-1 Soccer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylesLearn.css">
    <link rel="icon" type="image/x-icon" href="/css/images/favicon-32x32.png">
</head>
<body>
<div th:insert="nav"></div>
<div class="container">
    <div class="left-content">
        <h3>History of the Hungarian Football Championship</h3>
        <p>The Hungarian championship is one of the oldest football leagues in Europe with a rich tradition. The first league was organized in 1901 by the MLSZ (Hungarian Football Federation, now the Hungarian Football Association), which was founded in January 1901 to bring together teams that had only been playing sporadically until then. Among these teams, you can find many clubs that are still active participants in the league today, as well as some whose names now only mean something to the most passionate football fans.</p>
    </div>

    <div class="right-content">
        <h3>Most Appearances by Players</h3>
        <div class="table-container">
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Period</th>
                    <th>Clubs</th>
                    <th>Matches</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Zoltán Végh</td>
                    <td>1989–2012</td>
                    <td>Veszprém, Rába ETO, BVSC, Vasas SC, MTK Hungária, Videoton FCF, MTK Budapest, Vasas SC, Ferencvárosi TC</td>
                    <td>570</td>
                </tr>
            </table>
            <h3>Top Goal Scorers</h3>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Period</th>
                    <th>Clubs</th>
                    <th>Goals</th>
                    <th>Matches</th>
                    <th>Average</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Ferenc Szusza</td>
                    <td>1940–1961</td>
                    <td>UTE, Újpesti Dózsa</td>
                    <td>393</td>
                    <td>462</td>
                    <td>0.85</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>